// This is where you would override your variables. For example:
//
//     /* Colors */
//
//     $black: #111;
//     $blue: #0066cc;
//
//     /* Fonts */
//
//     $body: Georgia,Times, "Times New Roman", serif;
//     $headline: "Helvetica Neue", Helvetica, Arial, sans-serif;
//
//     /* Partials */
//
//     $partials: (
//       base,
//       button
//     );


$white:    #fff;
$red:     #dc3545;
$grey: #ccc;
$body-bg: $white;
$body-color: $grey;
